@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to right,#5359E6,#2F3499);
}

main{
    border-radius: 10px;
    box-shadow: 5px 5px 15px #25276395;
    background-color: white;
    width: 600px;
    padding: 20px;
    margin: auto ;
}

h1{
  color: #E6AF5E; 
  text-align: center; 
  text-shadow: 1px 1px 2px #99753fc7;
}

h2{
    color: #4E9991;
}

p{
    text-align: justify;
}