@charset "UTF-8";

/*Configurações gerais*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(35, 62, 255);
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

h1{
    color: white;
    text-align: center;
    padding: 20px 0px ;
}